env:
  global:
    secure: YFTuvV3LjxqBiurrotdpuIeFvhLEiS0rdFUH8VQ8uLXPF/2Y+jBApq0Mzk6hy2O5Pt+zUNPvpUSKO33xpkaikDlgohW3+8VTWMHG+xtlfSO9orrYMmzRmanCL1e/S6Ck63tcX4J+0trhWCrjJHlzbCXbny8uxDhZpzgVT1ufYCQ=

sudo: required

services:
  - docker

git:
  depth: 10

branches:
  only:
  - production

install:
  - docker build -t banerjs/blog .

script:
  - docker run -u 2500 --rm banerjs/blog run deploy

after_success:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" && docker push banerjs/blog
  - chmod +x scripts/refresh_image.sh && ./scripts/refresh_image.sh
