<!DOCTYPE html>
<html>
	<head>
		<!--
		META_TAGS
		-->
		<title>TITLE</title>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/banerjs.css" />
    	<link rel="icon" href="/public/favicon.ico" type="image/ico" />
    	<!--
    	OTHER_LINKS
    	-->
	</head>
	<body>
		<div id="content">CONTENT</div>
		<script type="text/javascript" src="/public/js/application.js"></script>
		<!--
		OTHER_SCRIPTS
		-->
	</body>
</html>
