<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<title>TITLE</title>
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/public/css/banerjs.css">
	<link rel="icon" href="/public/favicon.ico" type="image/ico">
	PAGE_CSS
</head>
<body>
	<div id="content">CONTENT</div>
	<div id="navigation">NAVIGATION</div>
	<script type="text/javascript" src="/public/js/libs.js"></script>
	<script type="text/javascript">EXPOSED_STATE</script>
	<script type="text/javascript" src="/public/js/app.js"></script>
</body>
</html>
