.country-article-list a {
	color: #ffffff;
}

.country-article-list a:hover{
	color: #ffffff;
}

.list-group-item {
	background-color: rgba(255,255,255,0);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px dashed #7e8aa2;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 3200px 1800px;
	color: white;
	width: 100%;
	height: 100%;
}

.curtain {
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	display: table;
}

.country-section {
	height: 100%;
	width: 100%;
	overflow-y: auto;
	display: table;
}

.country-name {
	color: #ff9800;
	background-color: rgba(0,0,0,1);
	width: 100%;
	min-height: 100px;
	display: table;
}

.country-name * {
	margin: 0;
}

.country-name h3 {
	display: table-cell;
	vertical-align: middle;
}

.country-article-list {
	display: table-row;
	height: 100%;
}

.article-title a {
	font-size: 150%;
}


.map-container {
	height: 100%;
}
